---
export interface Product {
  title: string;
  titleEN: string;
  price: string;
  description: string;
  descriptionEN: string;
  containerStyle?: string;
}

export interface Props extends Product {}

const {title, titleEN, price, description, descriptionEN, containerStyle} = Astro.props;
---

<div class=`w-full ${containerStyle}`>
  <p
    class="font-secondary font-semibold text-base text-neutral-500 mb-2 pb-2 border-b border-solid flex justify-between gap-x-2"
  >
    <span>{title}<br /> <span class="italic text-sm">{titleEN}</span></span>
    <span class="font-medium">{price}</span>
  </p>
  <p class="font-secondary font-light text-sm text-neutral-500 mb-2">
    {description}
  </p>
  <p class="font-secondary font-light italic text-sm text-neutral-500">
    {descriptionEN}
  </p>
</div>
